.content-container-6{
    display: flex;
    justify-content: center;
}
.top-text{
    font-family: "Roboto";
    margin-top :20px;
    display: flex;
}
.top-text input{
    border: none;
    width:20px;
    border-bottom:solid 1px grey ;
}
.content6{
    margin-top: 20px;
    height : 30vh;
    width : 80vw;
    border: solid 1px grey;
    margin-bottom: 20px;
}
.row{
    display: flex;
}
.request:nth-child(2){
    border-left: solid 1px grey;
}
.request{
    font-family: "Roboto";
    padding-left: 10px;
    display: flex;
    align-items: center;
    width : 50vw;
    border-bottom:solid 1px grey;
}
.input:nth-child(2){
    border-left: solid 1px grey;
}
.row1{
    display: flex;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height : 20vh;
    width : 50vw;
    border-bottom:solid 1px grey
}
.input input{
    border: none;
    border-bottom: solid grey 1px;
}
.date{
    display: flex;
    height : 35px;
    align-items: center;
    justify-content: center;
}
.date input{
    width : 10vw;
    border: none;
    border-bottom: solid 1px grey;
}